[Unit]
Description=org.freedesktop.secrets agent for pass
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.secrets
Environment="PASSWORD_STORE_GPG_OPTS=--cipher-algo AES256"
ExecStart=/usr/bin/pass-secret-service
